<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" routerLink=""><i class="fas fa-utensils"></i> FOOD ADMIN</a>

  <!-- Links -->
  <ul class="navbar-nav">

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Category
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="AddCategory">Add Category</a>
        <a class="dropdown-item" routerLink="ViewCategory">View Category</a>
      </div>
    </li>

    <!--Food Menu-->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Food
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="AddFood">Add Food</a>
        <a class="dropdown-item" routerLink="ViewFood">View Food</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="reguser">View User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="booking">View Booking</a>
    </li>
    <!--End Food Menu-->

  </ul>
  <ul class="navbar-nav ml-auto">
    <li *ngIf="userDetails" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:aquamarine">
        <i class="fas fa-user-cog"></i> Welcome Admin:{{userDetails.fullName.split(' ')[0]}}
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="onLogout()">Log Out</a>
      </div>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>